<h1>{{title}}</h1>
<p>Please log in</p>
<form action="/login" type="POST">
    <input type="text" name="username" placeholder="username"></input>
    <input type="password" name="password"></input>
    <input type="submit"></input>
</form>