<h1>Transfer funds from {{ from }}</h2>
<form action="/transfer" method="POST">
    <input type="text" name="payee" placeholder="username of payee" />
    <input type="number" name="amount" placeholder="amount in chf" />
    <input type="submit"></input>
</form>